@import "tailwindcss";
@import "./styles/fonts.css";
@import "./styles/theme.css";

@theme {
  --font-serif: "Instrument Serif", serif;
  --font-sans: "Inter", sans-serif;
  --color-background: #FFFFFF;
}

